Repository bcgov/sso-terraform-dev, pull requests merged in 2022-09, with the labels that each got.

#2113 request: add client files for tians-another-test-8007
  terraform-v2/keycloak-dev/standard-clients/tians-another-test-8007.tf
Labels: auto_generated, request, 8007

#2114 request: add client files for service-account-team-1685-8009
  terraform-v2/keycloak-prod/standard-service-accounts/service-account-team-1685-8009.tf
Labels: auto_generated, request, 8009

#2115 request: update client files for tians-testing-silver-in-silver-t-t-7999
  terraform/keycloak-dev/realms/onestopauth/client-tians-testing-silver-in-silver-t-t-7999.tf
Labels: auto_generated, request, 7999

#2116 request: add client files for tians-testing-silver-b-ce-id-both-8010
  terraform/keycloak-dev/realms/onestopauth-both/client-tians-testing-silver-b-ce-id-both-8010.tf
Labels: auto_generated, request, 8010

#2119 request: delete client files for junmin-integration-7821
  terraform-v2/keycloak-dev/standard-clients/junmin-integration-7821.tf
  terraform-v2/keycloak-prod/standard-clients/junmin-integration-7821.tf
  terraform-v2/keycloak-test/standard-clients/junmin-integration-7821.tf
Labels: auto_generated, request, 7821

#2121 request: add client files for test-integration-8021
  terraform-v2/keycloak-dev/standard-clients/test-integration-8021.tf
Labels: auto_generated, request, 8021

#2122 request: add client files for apm-8024
  terraform-v2/keycloak-dev/standard-clients/apm-8024.tf
  terraform-v2/keycloak-prod/standard-clients/apm-8024.tf
Labels: auto_generated, request, 8024

#2123 request: add client files for test-2-8023
  terraform-v2/keycloak-dev/standard-clients/test-2-8023.tf
  terraform-v2/keycloak-test/standard-clients/test-2-8023.tf
Labels: auto_generated, request, 8023

#2130 request: add client files for tians-testing-service-account-api-test-8026
  terraform-v2/keycloak-dev/standard-clients/tians-testing-service-account-api-test-8026.tf
  terraform-v2/keycloak-prod/standard-clients/tians-testing-service-account-api-test-8026.tf
  terraform-v2/keycloak-test/standard-clients/tians-testing-service-account-api-test-8026.tf
Labels: auto_generated, request, 8026

#2132 request: add client files for tians-testing-service-account-api-test-8027
  terraform-v2/keycloak-dev/standard-clients/tians-testing-service-account-api-test-8027.tf
  terraform-v2/keycloak-prod/standard-clients/tians-testing-service-account-api-test-8027.tf
  terraform-v2/keycloak-test/standard-clients/tians-testing-service-account-api-test-8027.tf
Labels: auto_generated, request, 8027

#2133 request: add client files for tians-testing-test-kc-disable-8029
  terraform-v2/keycloak-dev/standard-clients/tians-testing-test-kc-disable-8029.tf
  terraform-v2/keycloak-prod/standard-clients/tians-testing-test-kc-disable-8029.tf
  terraform-v2/keycloak-test/standard-clients/tians-testing-test-kc-disable-8029.tf
Labels: auto_generated, request, 8029

#2134 request: delete client files for tians-testing-test-kc-disable-8029
  terraform-v2/keycloak-dev/standard-clients/tians-testing-test-kc-disable-8029.tf
  terraform-v2/keycloak-prod/standard-clients/tians-testing-test-kc-disable-8029.tf
  terraform-v2/keycloak-test/standard-clients/tians-testing-test-kc-disable-8029.tf
Labels: auto_generated, request, 8029

#2142 request: add client files for b-ce-id-without-team-8030
  terraform-v2/keycloak-dev/standard-clients/b-ce-id-without-team-8030.tf
  terraform-v2/keycloak-test/standard-clients/b-ce-id-without-team-8030.tf
Labels: auto_generated, request, 8030

#2143 request: add client files for junmin-github-8031
  terraform-v2/keycloak-dev/standard-clients/junmin-github-8031.tf
  terraform-v2/keycloak-prod/standard-clients/junmin-github-8031.tf
  terraform-v2/keycloak-test/standard-clients/junmin-github-8031.tf
Labels: auto_generated, request, 8031

#2144 request: add client files for abc-8008
  terraform-v2/keycloak-dev/standard-clients/abc-8008.tf
Labels: auto_generated, request, 8008

#2147 request: add client files for b-ce-id-with-team-8033
  terraform-v2/keycloak-dev/standard-clients/b-ce-id-with-team-8033.tf
  terraform-v2/keycloak-test/standard-clients/b-ce-id-with-team-8033.tf
Labels: auto_generated, request, 8033

#2149 request: add client files for tians-testing-git-hub-oidc-8035
  terraform-v2/keycloak-dev/standard-clients/tians-testing-git-hub-oidc-8035.tf
  terraform-v2/keycloak-prod/standard-clients/tians-testing-git-hub-oidc-8035.tf
  terraform-v2/keycloak-test/standard-clients/tians-testing-git-hub-oidc-8035.tf
Labels: auto_generated, request, 8035

#2150 request: add client files for b-ce-id-with-team-8036
  terraform-v2/keycloak-dev/standard-clients/b-ce-id-with-team-8036.tf
  terraform-v2/keycloak-prod/standard-clients/b-ce-id-with-team-8036.tf
  terraform-v2/keycloak-test/standard-clients/b-ce-id-with-team-8036.tf
Labels: auto_generated, request, 8036

#2151 request: add client files for tians-testing-git-hub-oidc-public-8037
  terraform-v2/keycloak-dev/standard-clients/tians-testing-git-hub-oidc-public-8037.tf
  terraform-v2/keycloak-prod/standard-clients/tians-testing-git-hub-oidc-public-8037.tf
  terraform-v2/keycloak-test/standard-clients/tians-testing-git-hub-oidc-public-8037.tf
Labels: auto_generated, request, 8037

#2152 request: add client files for b-ce-id-with-no-team-8038
  terraform-v2/keycloak-dev/standard-clients/b-ce-id-with-no-team-8038.tf
  terraform-v2/keycloak-prod/standard-clients/b-ce-id-with-no-team-8038.tf
  terraform-v2/keycloak-test/standard-clients/b-ce-id-with-no-team-8038.tf
Labels: auto_generated, request, 8038

#2153 request: add client files for saml-test-zorin-7991
  terraform-v2/keycloak-dev/standard-clients/saml-test-zorin-7991.tf
  terraform-v2/keycloak-test/standard-clients/saml-test-zorin-7991.tf
Labels: auto_generated, request, 7991

#2154 request: add client files for idir-with-b-ce-id-8040
  terraform-v2/keycloak-dev/standard-clients/idir-with-b-ce-id-8040.tf
  terraform-v2/keycloak-prod/standard-clients/idir-with-b-ce-id-8040.tf
  terraform-v2/keycloak-test/standard-clients/idir-with-b-ce-id-8040.tf
Labels: auto_generated, request, 8040

#2155 request: update client files for idir-with-b-ce-id-8040
  terraform-v2/keycloak-dev/standard-clients/idir-with-b-ce-id-8040.tf
  terraform-v2/keycloak-test/standard-clients/idir-with-b-ce-id-8040.tf
Labels: auto_generated, request, 8040

#2156 request: add client files for junmin-github-8041
  terraform-v2/keycloak-dev/standard-clients/junmin-github-8041.tf
  terraform-v2/keycloak-prod/standard-clients/junmin-github-8041.tf
  terraform-v2/keycloak-test/standard-clients/junmin-github-8041.tf
Labels: auto_generated, request, 8041

#2157 request: delete client files for tians-testing-git-hub-oidc-public-8037
  terraform-v2/keycloak-dev/standard-clients/tians-testing-git-hub-oidc-public-8037.tf
  terraform-v2/keycloak-prod/standard-clients/tians-testing-git-hub-oidc-public-8037.tf
  terraform-v2/keycloak-test/standard-clients/tians-testing-git-hub-oidc-public-8037.tf
Labels: auto_generated, request, 8037

#2158 request: add client files for idir-first-then-add-bceid-8043
  terraform-v2/keycloak-dev/standard-clients/idir-first-then-add-bceid-8043.tf
  terraform-v2/keycloak-prod/standard-clients/idir-first-then-add-bceid-8043.tf
  terraform-v2/keycloak-test/standard-clients/idir-first-then-add-bceid-8043.tf
Labels: auto_generated, request, 8043

#2159 request: update client files for idir-first-then-add-bceid-8043
  terraform-v2/keycloak-dev/standard-clients/idir-first-then-add-bceid-8043.tf
  terraform-v2/keycloak-test/standard-clients/idir-first-then-add-bceid-8043.tf
Labels: auto_generated, request, 8043

#2160 request: update client files for junmin-github-8041
  terraform-v2/keycloak-dev/standard-clients/junmin-github-8041.tf
  terraform-v2/keycloak-prod/standard-clients/junmin-github-8041.tf
  terraform-v2/keycloak-test/standard-clients/junmin-github-8041.tf
Labels: auto_generated, request, 8041

#2163 request: add client files for junmin-bceid-prod-8044
  terraform-v2/keycloak-dev/standard-clients/junmin-bceid-prod-8044.tf
  terraform-v2/keycloak-prod/standard-clients/junmin-bceid-prod-8044.tf
  terraform-v2/keycloak-test/standard-clients/junmin-bceid-prod-8044.tf
Labels: auto_generated, request, 8044

#2164 request: update client files for junmin-bceid-prod-8044
  terraform-v2/keycloak-dev/standard-clients/junmin-bceid-prod-8044.tf
  terraform-v2/keycloak-prod/standard-clients/junmin-bceid-prod-8044.tf
  terraform-v2/keycloak-test/standard-clients/junmin-bceid-prod-8044.tf
Labels: auto_generated, request, 8044

#2165 request: delete client files for tians-testing-git-hub-oidc-8035
  terraform-v2/keycloak-dev/standard-clients/tians-testing-git-hub-oidc-8035.tf
  terraform-v2/keycloak-prod/standard-clients/tians-testing-git-hub-oidc-8035.tf
  terraform-v2/keycloak-test/standard-clients/tians-testing-git-hub-oidc-8035.tf
Labels: auto_generated, request, 8035

#2166 request: delete client files for tians-testing-github-saml-8034
  terraform-v2/keycloak-dev/standard-clients/tians-testing-github-saml-8034.tf
  terraform-v2/keycloak-prod/standard-clients/tians-testing-github-saml-8034.tf
  terraform-v2/keycloak-test/standard-clients/tians-testing-github-saml-8034.tf
Labels: auto_generated, request, 8034

#2169 request: add client files for api-test-sept-15-2-8046
  terraform-v2/keycloak-dev/standard-clients/api-test-sept-15-2-8046.tf
Labels: auto_generated, request, 8046

#2170 request: update client files for idir-first-then-add-bceid-8043
  terraform-v2/keycloak-prod/standard-clients/idir-first-then-add-bceid-8043.tf
Labels: auto_generated, request, 8043

#2171 request: add client files for tians-testing-github-oidc-service-acct-8047
  terraform-v2/keycloak-dev/standard-clients/tians-testing-github-oidc-service-acct-8047.tf
  terraform-v2/keycloak-prod/standard-clients/tians-testing-github-oidc-service-acct-8047.tf
  terraform-v2/keycloak-test/standard-clients/tians-testing-github-oidc-service-acct-8047.tf
Labels: auto_generated, request, 8047

#2172 request: add client files for tians-testing-oidc-brower-login-8048
  terraform-v2/keycloak-dev/standard-clients/tians-testing-oidc-brower-login-8048.tf
  terraform-v2/keycloak-prod/standard-clients/tians-testing-oidc-brower-login-8048.tf
  terraform-v2/keycloak-test/standard-clients/tians-testing-oidc-brower-login-8048.tf
Labels: auto_generated, request, 8048

#2173 request: add client files for tians-testing-oidc-both-8049
  terraform-v2/keycloak-dev/standard-clients/tians-testing-oidc-both-8049.tf
  terraform-v2/keycloak-prod/standard-clients/tians-testing-oidc-both-8049.tf
  terraform-v2/keycloak-test/standard-clients/tians-testing-oidc-both-8049.tf
Labels: auto_generated, request, 8049

#2174 request: add client files for tians-testing-oidc-prod-later-8050
  terraform-v2/keycloak-dev/standard-clients/tians-testing-oidc-prod-later-8050.tf
  terraform-v2/keycloak-test/standard-clients/tians-testing-oidc-prod-later-8050.tf
Labels: auto_generated, request, 8050

#2175 request: update client files for tians-testing-github-saml-8045
  terraform-v2/keycloak-prod/standard-clients/tians-testing-github-saml-8045.tf
Labels: auto_generated, request, 8045

#2176 request: update client files for tians-testing-oidc-brower-login-8048
  terraform-v2/keycloak-prod/standard-clients/tians-testing-oidc-brower-login-8048.tf
Labels: auto_generated, request, 8048

#2177 request: update client files for tians-testing-github-saml-8045
  terraform-v2/keycloak-prod/standard-clients/tians-testing-github-saml-8045.tf
Labels: auto_generated, request, 8045

#2178 request: update client files for b-ce-id-with-team-8036
  terraform-v2/keycloak-prod/standard-clients/b-ce-id-with-team-8036.tf
Labels: auto_generated, request, 8036

#2179 request: update client files for b-ce-id-with-no-team-8038
  terraform-v2/keycloak-prod/standard-clients/b-ce-id-with-no-team-8038.tf
Labels: auto_generated, request, 8038

#2180 request: update client files for tians-testing-oidc-both-8049
  terraform-v2/keycloak-prod/standard-clients/tians-testing-oidc-both-8049.tf
Labels: auto_generated, request, 8049

#2181 request: add client files for tians-testing-github-b-ce-id-approval-8053
  terraform-v2/keycloak-dev/standard-clients/tians-testing-github-b-ce-id-approval-8053.tf
  terraform-v2/keycloak-prod/standard-clients/tians-testing-github-b-ce-id-approval-8053.tf
  terraform-v2/keycloak-test/standard-clients/tians-testing-github-b-ce-id-approval-8053.tf
Labels: auto_generated, request, 8053

#2182 request: add client files for sept-16-idir-only-1-a-8054
  terraform-v2/keycloak-dev/standard-clients/sept-16-idir-only-1-a-8054.tf
  terraform-v2/keycloak-prod/standard-clients/sept-16-idir-only-1-a-8054.tf
  terraform-v2/keycloak-test/standard-clients/sept-16-idir-only-1-a-8054.tf
Labels: auto_generated, request, 8054

#2183 request: update client files for tians-testing-github-b-ce-id-approval-8053
  terraform-v2/keycloak-prod/standard-clients/tians-testing-github-b-ce-id-approval-8053.tf
Labels: auto_generated, request, 8053

#2184 request: update client files for sept-16-idir-only-1-a-8054
  terraform-v2/keycloak-test/standard-clients/sept-16-idir-only-1-a-8054.tf
Labels: auto_generated, request, 8054

#2187 request: delete client files for tians-testing-service-account-8006
  terraform-v2/keycloak-dev/standard-clients/tians-testing-service-account-8006.tf
  terraform-v2/keycloak-test/standard-clients/tians-testing-service-account-8006.tf
Labels: auto_generated, request, 8006

#2188 request: delete client files for sept-16-idir-only-1-a-8054
  terraform-v2/keycloak-dev/standard-clients/sept-16-idir-only-1-a-8054.tf
  terraform-v2/keycloak-prod/standard-clients/sept-16-idir-only-1-a-8054.tf
  terraform-v2/keycloak-test/standard-clients/sept-16-idir-only-1-a-8054.tf
Labels: auto_generated, request, 8054

#2189 request: add client files for sept-16-idir-only-1-b-8055
  terraform-v2/keycloak-dev/standard-clients/sept-16-idir-only-1-b-8055.tf
  terraform-v2/keycloak-prod/standard-clients/sept-16-idir-only-1-b-8055.tf
  terraform-v2/keycloak-test/standard-clients/sept-16-idir-only-1-b-8055.tf
Labels: auto_generated, request, 8055

#2190 request: update client files for sept-16-idir-only-1-b-8055
  terraform-v2/keycloak-dev/standard-clients/sept-16-idir-only-1-b-8055.tf
Labels: auto_generated, request, 8055

#2191 request: add client files for tian-1-s-testing-no-team-8056
  terraform-v2/keycloak-dev/standard-clients/tian-1-s-testing-no-team-8056.tf
  terraform-v2/keycloak-prod/standard-clients/tian-1-s-testing-no-team-8056.tf
  terraform-v2/keycloak-test/standard-clients/tian-1-s-testing-no-team-8056.tf
Labels: auto_generated, request, 8056

#2192 request: update client files for tians-testing-oidc-prod-later-8050
  terraform-v2/keycloak-dev/standard-clients/tians-testing-oidc-prod-later-8050.tf
Labels: auto_generated, request, 8050

#2195 request: delete client files for sept-16-idir-only-1-b-8055
  terraform-v2/keycloak-dev/standard-clients/sept-16-idir-only-1-b-8055.tf
  terraform-v2/keycloak-prod/standard-clients/sept-16-idir-only-1-b-8055.tf
  terraform-v2/keycloak-test/standard-clients/sept-16-idir-only-1-b-8055.tf
Labels: auto_generated, request, 8055

#2196 request: add client files for sept-16-testing-teams-8057
  terraform-v2/keycloak-dev/standard-clients/sept-16-testing-teams-8057.tf
Labels: auto_generated, request, 8057

#2197 request: update client files for tians-testing-oidc-prod-later-8050
  terraform-v2/keycloak-dev/standard-clients/tians-testing-oidc-prod-later-8050.tf
Labels: auto_generated, request, 8050

#2198 request: delete client files for tians-testing-oidc-both-8049
  terraform-v2/keycloak-dev/standard-clients/tians-testing-oidc-both-8049.tf
  terraform-v2/keycloak-prod/standard-clients/tians-testing-oidc-both-8049.tf
  terraform-v2/keycloak-test/standard-clients/tians-testing-oidc-both-8049.tf
Labels: auto_generated, request, 8049

#2200 request: add client files for test-8059
  terraform-v2/keycloak-dev/standard-clients/test-8059.tf
Labels: auto_generated, request, 8059

#2201 request: delete client files for tians-testing-github-b-ce-id-approval-8053
  terraform-v2/keycloak-dev/standard-clients/tians-testing-github-b-ce-id-approval-8053.tf
  terraform-v2/keycloak-prod/standard-clients/tians-testing-github-b-ce-id-approval-8053.tf
  terraform-v2/keycloak-test/standard-clients/tians-testing-github-b-ce-id-approval-8053.tf
Labels: auto_generated, request, 8053

#2202 request: add client files for tians-testing-github-b-ce-id-prod-approval-8060
  terraform-v2/keycloak-dev/standard-clients/tians-testing-github-b-ce-id-prod-approval-8060.tf
  terraform-v2/keycloak-prod/standard-clients/tians-testing-github-b-ce-id-prod-approval-8060.tf
  terraform-v2/keycloak-test/standard-clients/tians-testing-github-b-ce-id-prod-approval-8060.tf
Labels: auto_generated, request, 8060

#2203 request: update client files for junmin-gold-testss-7168
  terraform-v2/keycloak-dev/standard-clients/junmin-gold-testss-7168.tf
  terraform-v2/keycloak-test/standard-clients/junmin-gold-testss-7168.tf
Labels: auto_generated, request, 7168

#2204 request: update client files for tians-testing-github-b-ce-id-prod-approval-8060
  terraform-v2/keycloak-prod/standard-clients/tians-testing-github-b-ce-id-prod-approval-8060.tf
Labels: auto_generated, request, 8060

#2205 request: delete client files for tians-testing-github-b-ce-id-prod-approval-8060
  terraform-v2/keycloak-dev/standard-clients/tians-testing-github-b-ce-id-prod-approval-8060.tf
  terraform-v2/keycloak-prod/standard-clients/tians-testing-github-b-ce-id-prod-approval-8060.tf
  terraform-v2/keycloak-test/standard-clients/tians-testing-github-b-ce-id-prod-approval-8060.tf
Labels: auto_generated, request, 8060

#2206 request: add client files for tians-testing-github-b-ce-id-prod-approval-1-8061
  terraform-v2/keycloak-dev/standard-clients/tians-testing-github-b-ce-id-prod-approval-1-8061.tf
  terraform-v2/keycloak-prod/standard-clients/tians-testing-github-b-ce-id-prod-approval-1-8061.tf
  terraform-v2/keycloak-test/standard-clients/tians-testing-github-b-ce-id-prod-approval-1-8061.tf
Labels: auto_generated, request, 8061

#2207 request: add client files for nk-test-gh-prod-8062
  terraform-v2/keycloak-dev/standard-clients/nk-test-gh-prod-8062.tf
  terraform-v2/keycloak-prod/standard-clients/nk-test-gh-prod-8062.tf
  terraform-v2/keycloak-test/standard-clients/nk-test-gh-prod-8062.tf
Labels: auto_generated, request, 8062

#2208 request: update client files for nk-test-gh-prod-8062
  terraform-v2/keycloak-prod/standard-clients/nk-test-gh-prod-8062.tf
Labels: auto_generated, request, 8062

#2210 request: add client files for sept-20-git-hub-test-1-scenario-3-a-8064
  terraform-v2/keycloak-dev/standard-clients/sept-20-git-hub-test-1-scenario-3-a-8064.tf
  terraform-v2/keycloak-test/standard-clients/sept-20-git-hub-test-1-scenario-3-a-8064.tf
Labels: auto_generated, request, 8064

#2211 request: add client files for b-ce-id-new-test-with-team-8063
  terraform-v2/keycloak-dev/standard-clients/b-ce-id-new-test-with-team-8063.tf
  terraform-v2/keycloak-prod/standard-clients/b-ce-id-new-test-with-team-8063.tf
  terraform-v2/keycloak-test/standard-clients/b-ce-id-new-test-with-team-8063.tf
Labels: auto_generated, request, 8063

#2212 request: add client files for sept-20-git-hub-test-2-scenario-3-b-8065
  terraform-v2/keycloak-dev/standard-clients/sept-20-git-hub-test-2-scenario-3-b-8065.tf
  terraform-v2/keycloak-test/standard-clients/sept-20-git-hub-test-2-scenario-3-b-8065.tf
Labels: auto_generated, request, 8065

#2213 request: add client files for sept-20-github-test-3-scenario-3-c-8066
  terraform-v2/keycloak-dev/standard-clients/sept-20-github-test-3-scenario-3-c-8066.tf
  terraform-v2/keycloak-prod/standard-clients/sept-20-github-test-3-scenario-3-c-8066.tf
  terraform-v2/keycloak-test/standard-clients/sept-20-github-test-3-scenario-3-c-8066.tf
Labels: auto_generated, request, 8066

#2214 request: add client files for sept-20-github-test-3-scenario-3-d-8067
  terraform-v2/keycloak-dev/standard-clients/sept-20-github-test-3-scenario-3-d-8067.tf
  terraform-v2/keycloak-prod/standard-clients/sept-20-github-test-3-scenario-3-d-8067.tf
  terraform-v2/keycloak-test/standard-clients/sept-20-github-test-3-scenario-3-d-8067.tf
Labels: auto_generated, request, 8067

#2215 request: update client files for sept-20-git-hub-test-1-scenario-3-a-8064
  terraform-v2/keycloak-dev/standard-clients/sept-20-git-hub-test-1-scenario-3-a-8064.tf
Labels: auto_generated, request, 8064

#2216 request: update client files for sept-20-git-hub-test-2-scenario-3-b-8065
  terraform-v2/keycloak-dev/standard-clients/sept-20-git-hub-test-2-scenario-3-b-8065.tf
Labels: auto_generated, request, 8065

#2217 request: update client files for sept-20-github-test-3-scenario-3-c-8066
  terraform-v2/keycloak-dev/standard-clients/sept-20-github-test-3-scenario-3-c-8066.tf
Labels: auto_generated, request, 8066

#2218 request: update client files for b-ce-id-new-test-with-team-8063
  terraform-v2/keycloak-prod/standard-clients/b-ce-id-new-test-with-team-8063.tf
Labels: auto_generated, request, 8063

#2219 request: update client files for sept-20-github-test-3-scenario-3-d-8067
  terraform-v2/keycloak-dev/standard-clients/sept-20-github-test-3-scenario-3-d-8067.tf
Labels: auto_generated, request, 8067

#2220 request: update client files for sept-20-github-test-3-scenario-3-c-8066
  terraform-v2/keycloak-prod/standard-clients/sept-20-github-test-3-scenario-3-c-8066.tf
Labels: auto_generated, request, 8066

#2221 request: add client files for test-3-8068
  terraform-v2/keycloak-dev/standard-clients/test-3-8068.tf
Labels: auto_generated, request, 8068

#2222 request: delete client files for nk-test-gh-prod-8062
  terraform-v2/keycloak-dev/standard-clients/nk-test-gh-prod-8062.tf
  terraform-v2/keycloak-prod/standard-clients/nk-test-gh-prod-8062.tf
  terraform-v2/keycloak-test/standard-clients/nk-test-gh-prod-8062.tf
Labels: auto_generated, request, 8062

#2223 request: add client files for email-gh-prod-nk-testing-8072
  terraform-v2/keycloak-dev/standard-clients/email-gh-prod-nk-testing-8072.tf
  terraform-v2/keycloak-test/standard-clients/email-gh-prod-nk-testing-8072.tf
Labels: auto_generated, request, 8072

#2224 request: add client files for sept-20-bceid-np-to-p-1-8073
  terraform-v2/keycloak-dev/standard-clients/sept-20-bceid-np-to-p-1-8073.tf
  terraform-v2/keycloak-test/standard-clients/sept-20-bceid-np-to-p-1-8073.tf
Labels: auto_generated, request, 8073

#2225 request: add client files for sept-20-bceid-prod-8074
  terraform-v2/keycloak-dev/standard-clients/sept-20-bceid-prod-8074.tf
  terraform-v2/keycloak-prod/standard-clients/sept-20-bceid-prod-8074.tf
Labels: auto_generated, request, 8074

#2226 request: add client files for sept-20-bceid-np-to-p-2-8075
  terraform-v2/keycloak-dev/standard-clients/sept-20-bceid-np-to-p-2-8075.tf
Labels: auto_generated, request, 8075

#2227 request: add client files for sept-20-github-prod-ztest-1-8077
  terraform-v2/keycloak-dev/standard-clients/sept-20-github-prod-ztest-1-8077.tf
  terraform-v2/keycloak-prod/standard-clients/sept-20-github-prod-ztest-1-8077.tf
Labels: auto_generated, request, 8077

#2228 request: update client files for sept-20-bceid-np-to-p-2-8075
  terraform-v2/keycloak-prod/standard-clients/sept-20-bceid-np-to-p-2-8075.tf
Labels: auto_generated, request, 8075

#2229 request: update client files for sept-20-git-hub-test-1-scenario-3-a-8064
  terraform-v2/keycloak-prod/standard-clients/sept-20-git-hub-test-1-scenario-3-a-8064.tf
Labels: auto_generated, request, 8064

#2230 request: update client files for sept-20-github-prod-ztest-1-8077
  terraform-v2/keycloak-prod/standard-clients/sept-20-github-prod-ztest-1-8077.tf
Labels: auto_generated, request, 8077

#2231 request: delete client files for sept-20-github-prod-ztest-1-8077
  terraform-v2/keycloak-dev/standard-clients/sept-20-github-prod-ztest-1-8077.tf
  terraform-v2/keycloak-prod/standard-clients/sept-20-github-prod-ztest-1-8077.tf
Labels: auto_generated, request, 8077

#2232 request: delete client files for sept-20-git-hub-test-1-scenario-3-a-8064
  terraform-v2/keycloak-dev/standard-clients/sept-20-git-hub-test-1-scenario-3-a-8064.tf
  terraform-v2/keycloak-prod/standard-clients/sept-20-git-hub-test-1-scenario-3-a-8064.tf
  terraform-v2/keycloak-test/standard-clients/sept-20-git-hub-test-1-scenario-3-a-8064.tf
Labels: auto_generated, request, 8064

#2233 request: update client files for sept-20-git-hub-test-2-scenario-3-b-8065
  terraform-v2/keycloak-prod/standard-clients/sept-20-git-hub-test-2-scenario-3-b-8065.tf
Labels: auto_generated, request, 8065

#2234 request: update client files for sept-20-git-hub-test-2-scenario-3-b-8065
  terraform-v2/keycloak-prod/standard-clients/sept-20-git-hub-test-2-scenario-3-b-8065.tf
Labels: auto_generated, request, 8065

#2235 request: update client files for sept-20-github-test-3-scenario-3-d-8067
  terraform-v2/keycloak-prod/standard-clients/sept-20-github-test-3-scenario-3-d-8067.tf
Labels: auto_generated, request, 8067

#2236 request: delete client files for sept-20-git-hub-test-2-scenario-3-b-8065
  terraform-v2/keycloak-dev/standard-clients/sept-20-git-hub-test-2-scenario-3-b-8065.tf
  terraform-v2/keycloak-prod/standard-clients/sept-20-git-hub-test-2-scenario-3-b-8065.tf
  terraform-v2/keycloak-test/standard-clients/sept-20-git-hub-test-2-scenario-3-b-8065.tf
Labels: auto_generated, request, 8065

#2237 request: add client files for tians-testing-service-account-8080
  terraform-v2/keycloak-dev/standard-clients/tians-testing-service-account-8080.tf
  terraform-v2/keycloak-prod/standard-clients/tians-testing-service-account-8080.tf
  terraform-v2/keycloak-test/standard-clients/tians-testing-service-account-8080.tf
Labels: auto_generated, request, 8080

#2238 request: add client files for tians-testing-b-ce-id-and-git-hub-8081
  terraform-v2/keycloak-dev/standard-clients/tians-testing-b-ce-id-and-git-hub-8081.tf
  terraform-v2/keycloak-prod/standard-clients/tians-testing-b-ce-id-and-git-hub-8081.tf
  terraform-v2/keycloak-test/standard-clients/tians-testing-b-ce-id-and-git-hub-8081.tf
Labels: auto_generated, request, 8081

#2239 request: add client files for junmin-bceid-github-8082
  terraform-v2/keycloak-dev/standard-clients/junmin-bceid-github-8082.tf
  terraform-v2/keycloak-prod/standard-clients/junmin-bceid-github-8082.tf
  terraform-v2/keycloak-test/standard-clients/junmin-bceid-github-8082.tf
Labels: auto_generated, request, 8082

#2240 request: delete client files for tians-testing-b-ce-id-and-git-hub-8081
  terraform-v2/keycloak-dev/standard-clients/tians-testing-b-ce-id-and-git-hub-8081.tf
  terraform-v2/keycloak-prod/standard-clients/tians-testing-b-ce-id-and-git-hub-8081.tf
  terraform-v2/keycloak-test/standard-clients/tians-testing-b-ce-id-and-git-hub-8081.tf
Labels: auto_generated, request, 8081

#2241 request: add client files for tians-testing-multi-id-ps-8083
  terraform-v2/keycloak-dev/standard-clients/tians-testing-multi-id-ps-8083.tf
  terraform-v2/keycloak-prod/standard-clients/tians-testing-multi-id-ps-8083.tf
  terraform-v2/keycloak-test/standard-clients/tians-testing-multi-id-ps-8083.tf
Labels: auto_generated, request, 8083

#2242 request: add client files for tians-testing-multiple-id-ps-2-8084
  terraform-v2/keycloak-dev/standard-clients/tians-testing-multiple-id-ps-2-8084.tf
  terraform-v2/keycloak-prod/standard-clients/tians-testing-multiple-id-ps-2-8084.tf
  terraform-v2/keycloak-test/standard-clients/tians-testing-multiple-id-ps-2-8084.tf
Labels: auto_generated, request, 8084

#2243 request: add client files for service-account-team-1953-8085
  terraform-v2/keycloak-prod/standard-service-accounts/service-account-team-1953-8085.tf
Labels: auto_generated, request, 8085

#2244 request: delete client files for service-account-team-1953-8085
  terraform-v2/keycloak-prod/standard-service-accounts/service-account-team-1953-8085.tf
Labels: auto_generated, request, 8085

#2245 request: add client files for service-account-team-1960-8087
  terraform-v2/keycloak-prod/standard-service-accounts/service-account-team-1960-8087.tf
Labels: auto_generated, request, 8087

#2246 request: add client files for service-account-team-1953-8088
  terraform-v2/keycloak-prod/standard-service-accounts/service-account-team-1953-8088.tf
Labels: auto_generated, request, 8088

#2247 request: delete client files for service-account-team-1953-8088
  terraform-v2/keycloak-prod/standard-service-accounts/service-account-team-1953-8088.tf
Labels: auto_generated, request, 8088

#2248 request: add client files for service-account-team-1957-8089
  terraform-v2/keycloak-prod/standard-service-accounts/service-account-team-1957-8089.tf
Labels: auto_generated, request, 8089

#2249 request: delete client files for service-account-team-1957-8089
  terraform-v2/keycloak-prod/standard-service-accounts/service-account-team-1957-8089.tf
Labels: auto_generated, request, 8089

#2250 request: update client files for tians-testing-multiple-id-ps-2-8084
  terraform-v2/keycloak-prod/standard-clients/tians-testing-multiple-id-ps-2-8084.tf
Labels: auto_generated, request, 8084

#2251 request: update client files for tians-testing-oidc-prod-later-8050
  terraform-v2/keycloak-prod/standard-clients/tians-testing-oidc-prod-later-8050.tf
Labels: auto_generated, request, 8050

#2253 request: add client files for service-account-team-1953-8091
  terraform-v2/keycloak-prod/standard-service-accounts/service-account-team-1953-8091.tf
Labels: auto_generated, request, 8091

#2254 request: add client files for github-dev-test-no-team-8092
  terraform-v2/keycloak-dev/standard-clients/github-dev-test-no-team-8092.tf
  terraform-v2/keycloak-test/standard-clients/github-dev-test-no-team-8092.tf
Labels: auto_generated, request, 8092

#2255 request: add client files for github-dev-test-with-team-8093
  terraform-v2/keycloak-dev/standard-clients/github-dev-test-with-team-8093.tf
  terraform-v2/keycloak-test/standard-clients/github-dev-test-with-team-8093.tf
Labels: auto_generated, request, 8093

#2256 request: add client files for github-dev-test-prod-no-team-no-apporval-8094
  terraform-v2/keycloak-dev/standard-clients/github-dev-test-prod-no-team-no-apporval-8094.tf
  terraform-v2/keycloak-prod/standard-clients/github-dev-test-prod-no-team-no-apporval-8094.tf
  terraform-v2/keycloak-test/standard-clients/github-dev-test-prod-no-team-no-apporval-8094.tf
Labels: auto_generated, request, 8094

#2257 request: add client files for github-dev-test-prod-team-no-approval-8095
  terraform-v2/keycloak-dev/standard-clients/github-dev-test-prod-team-no-approval-8095.tf
  terraform-v2/keycloak-prod/standard-clients/github-dev-test-prod-team-no-approval-8095.tf
  terraform-v2/keycloak-test/standard-clients/github-dev-test-prod-team-no-approval-8095.tf
Labels: auto_generated, request, 8095

#2258 request: add client files for githun-dev-test-prod-no-team-and-prod-approve-8096
  terraform-v2/keycloak-dev/standard-clients/githun-dev-test-prod-no-team-and-prod-approve-8096.tf
  terraform-v2/keycloak-prod/standard-clients/githun-dev-test-prod-no-team-and-prod-approve-8096.tf
  terraform-v2/keycloak-test/standard-clients/githun-dev-test-prod-no-team-and-prod-approve-8096.tf
Labels: auto_generated, request, 8096

#2259 request: update client files for githun-dev-test-prod-no-team-and-prod-approve-8096
  terraform-v2/keycloak-prod/standard-clients/githun-dev-test-prod-no-team-and-prod-approve-8096.tf
Labels: auto_generated, request, 8096

#2261 request: add client files for githun-dev-test-prod-with-team-and-prod-approve-8097
  terraform-v2/keycloak-dev/standard-clients/githun-dev-test-prod-with-team-and-prod-approve-8097.tf
  terraform-v2/keycloak-prod/standard-clients/githun-dev-test-prod-with-team-and-prod-approve-8097.tf
  terraform-v2/keycloak-test/standard-clients/githun-dev-test-prod-with-team-and-prod-approve-8097.tf
Labels: auto_generated, request, 8097

#2262 request: update client files for githun-dev-test-prod-with-team-and-prod-approve-8097
  terraform-v2/keycloak-prod/standard-clients/githun-dev-test-prod-with-team-and-prod-approve-8097.tf
Labels: auto_generated, request, 8097

#2264 request: update client files for junmin-bceid-github-8082
  terraform-v2/keycloak-dev/standard-clients/junmin-bceid-github-8082.tf
  terraform-v2/keycloak-prod/standard-clients/junmin-bceid-github-8082.tf
  terraform-v2/keycloak-test/standard-clients/junmin-bceid-github-8082.tf
Labels: auto_generated, request, 8082

#2266 request: delete client files for tians-testing-multiple-id-ps-2-8084
  terraform-v2/keycloak-dev/standard-clients/tians-testing-multiple-id-ps-2-8084.tf
  terraform-v2/keycloak-prod/standard-clients/tians-testing-multiple-id-ps-2-8084.tf
  terraform-v2/keycloak-test/standard-clients/tians-testing-multiple-id-ps-2-8084.tf
Labels: auto_generated, request, 8084

#2267 request: add client files for tians-testing-role-attributes-8099
  terraform-v2/keycloak-dev/standard-clients/tians-testing-role-attributes-8099.tf
  terraform-v2/keycloak-prod/standard-clients/tians-testing-role-attributes-8099.tf
  terraform-v2/keycloak-test/standard-clients/tians-testing-role-attributes-8099.tf
Labels: auto_generated, request, 8099

#2269 request: add client files for s-ept-23-test-email-non-redirect-updates-8100
  terraform-v2/keycloak-dev/standard-clients/s-ept-23-test-email-non-redirect-updates-8100.tf
  terraform-v2/keycloak-prod/standard-clients/s-ept-23-test-email-non-redirect-updates-8100.tf
  terraform-v2/keycloak-test/standard-clients/s-ept-23-test-email-non-redirect-updates-8100.tf
Labels: auto_generated, request, 8100

#2270 request: update client files for junmin-bceid-github-8082
  terraform-v2/keycloak-dev/standard-clients/junmin-bceid-github-8082.tf
Labels: auto_generated, request, 8082

#2271 request: add client files for s-ept-23-redirect-updates-bceid-prod-8101
  terraform-v2/keycloak-dev/standard-clients/s-ept-23-redirect-updates-bceid-prod-8101.tf
  terraform-v2/keycloak-prod/standard-clients/s-ept-23-redirect-updates-bceid-prod-8101.tf
  terraform-v2/keycloak-test/standard-clients/s-ept-23-redirect-updates-bceid-prod-8101.tf
Labels: auto_generated, request, 8101

#2272 request: update client files for s-ept-23-redirect-updates-bceid-prod-8101
  terraform-v2/keycloak-dev/standard-clients/s-ept-23-redirect-updates-bceid-prod-8101.tf
  terraform-v2/keycloak-test/standard-clients/s-ept-23-redirect-updates-bceid-prod-8101.tf
Labels: auto_generated, request, 8101

#2273 request: update client files for s-ept-23-test-email-non-redirect-updates-8100
  terraform-v2/keycloak-dev/standard-clients/s-ept-23-test-email-non-redirect-updates-8100.tf
  terraform-v2/keycloak-test/standard-clients/s-ept-23-test-email-non-redirect-updates-8100.tf
Labels: auto_generated, request, 8100

#2275 request: delete client files for service-account-team-1861-7990
  terraform-v2/keycloak-prod/standard-service-accounts/service-account-team-1861-7990.tf
Labels: auto_generated, request, 7990

#2278 request: update client files for junmin-bceid-prod-8044
  terraform-v2/keycloak-dev/standard-clients/junmin-bceid-prod-8044.tf
  terraform-v2/keycloak-prod/standard-clients/junmin-bceid-prod-8044.tf
  terraform-v2/keycloak-test/standard-clients/junmin-bceid-prod-8044.tf
Labels: auto_generated, request, 8044

#2281 request: update client files for s-ept-23-redirect-updates-bceid-prod-8101
  terraform-v2/keycloak-dev/standard-clients/s-ept-23-redirect-updates-bceid-prod-8101.tf
Labels: auto_generated, request, 8101

#2282 request: update client files for s-ept-23-test-email-non-redirect-updates-8100
  terraform-v2/keycloak-dev/standard-clients/s-ept-23-test-email-non-redirect-updates-8100.tf
  terraform-v2/keycloak-test/standard-clients/s-ept-23-test-email-non-redirect-updates-8100.tf
Labels: auto_generated, request, 8100

#2284 request: update client files for sept-20-bceid-np-to-p-2-8075
  terraform-v2/keycloak-dev/standard-clients/sept-20-bceid-np-to-p-2-8075.tf
  terraform-v2/keycloak-prod/standard-clients/sept-20-bceid-np-to-p-2-8075.tf
Labels: auto_generated, request, 8075

#2286 request: add client files for service-account-team-1861-8102
  terraform-v2/keycloak-prod/standard-service-accounts/service-account-team-1861-8102.tf
Labels: auto_generated, request, 8102

#2287 request: add client files for service-account-team-1959-8103
  terraform-v2/keycloak-prod/standard-service-accounts/service-account-team-1959-8103.tf
Labels: auto_generated, request, 8103

#2288 request: add client files for service-account-team-1959-8104
  terraform-v2/keycloak-prod/standard-service-accounts/service-account-team-1959-8104.tf
Labels: auto_generated, request, 8104

#2289 request: delete client files for service-account-team-1861-8102
  terraform-v2/keycloak-prod/standard-service-accounts/service-account-team-1861-8102.tf
Labels: auto_generated, request, 8102

#2290 request: delete client files for service-account-team-1959-8104
  terraform-v2/keycloak-prod/standard-service-accounts/service-account-team-1959-8104.tf
Labels: auto_generated, request, 8104

#2291 request: delete client files for service-account-team-1959-8103
  terraform-v2/keycloak-prod/standard-service-accounts/service-account-team-1959-8103.tf
Labels: auto_generated, request, 8103

#2294 request: delete client files for service-account-team-1953-8091
  terraform-v2/keycloak-prod/standard-service-accounts/service-account-team-1953-8091.tf
Labels: auto_generated, request, 8091

#2306 request: add client files for idir-with-github-no-prod-approve-8105
  terraform-v2/keycloak-dev/standard-clients/idir-with-github-no-prod-approve-8105.tf
  terraform-v2/keycloak-prod/standard-clients/idir-with-github-no-prod-approve-8105.tf
  terraform-v2/keycloak-test/standard-clients/idir-with-github-no-prod-approve-8105.tf
Labels: auto_generated, request, 8105

#2307 request: update client files for idir-with-github-no-prod-approve-8105
  terraform-v2/keycloak-dev/standard-clients/idir-with-github-no-prod-approve-8105.tf
  terraform-v2/keycloak-test/standard-clients/idir-with-github-no-prod-approve-8105.tf
Labels: auto_generated, request, 8105

#2308 request: delete client files for tians-testing-role-attributes-8099
  terraform-v2/keycloak-dev/standard-clients/tians-testing-role-attributes-8099.tf
  terraform-v2/keycloak-prod/standard-clients/tians-testing-role-attributes-8099.tf
  terraform-v2/keycloak-test/standard-clients/tians-testing-role-attributes-8099.tf
Labels: auto_generated, request, 8099

#2309 request: delete client files for tians-testing-git-hub-only-8090
  terraform-v2/keycloak-dev/standard-clients/tians-testing-git-hub-only-8090.tf
  terraform-v2/keycloak-prod/standard-clients/tians-testing-git-hub-only-8090.tf
  terraform-v2/keycloak-test/standard-clients/tians-testing-git-hub-only-8090.tf
Labels: auto_generated, request, 8090

#2310 request: delete client files for tians-testing-multi-id-ps-8083
  terraform-v2/keycloak-dev/standard-clients/tians-testing-multi-id-ps-8083.tf
  terraform-v2/keycloak-prod/standard-clients/tians-testing-multi-id-ps-8083.tf
  terraform-v2/keycloak-test/standard-clients/tians-testing-multi-id-ps-8083.tf
Labels: auto_generated, request, 8083

#2311 request: delete client files for tians-testing-service-account-8080
  terraform-v2/keycloak-dev/standard-clients/tians-testing-service-account-8080.tf
  terraform-v2/keycloak-prod/standard-clients/tians-testing-service-account-8080.tf
  terraform-v2/keycloak-test/standard-clients/tians-testing-service-account-8080.tf
Labels: auto_generated, request, 8080

#2312 request: add client files for tians-testing-9-26-b-ce-id-with-prod-8107
  terraform-v2/keycloak-dev/standard-clients/tians-testing-9-26-b-ce-id-with-prod-8107.tf
  terraform-v2/keycloak-prod/standard-clients/tians-testing-9-26-b-ce-id-with-prod-8107.tf
  terraform-v2/keycloak-test/standard-clients/tians-testing-9-26-b-ce-id-with-prod-8107.tf
Labels: auto_generated, request, 8107

#2313 request: add client files for tians-testing-9-26-b-ce-id-with-prod-later-8108
  terraform-v2/keycloak-dev/standard-clients/tians-testing-9-26-b-ce-id-with-prod-later-8108.tf
  terraform-v2/keycloak-test/standard-clients/tians-testing-9-26-b-ce-id-with-prod-later-8108.tf
Labels: auto_generated, request, 8108

#2314 request: update client files for tians-testing-9-26-b-ce-id-with-prod-later-8108
  terraform-v2/keycloak-prod/standard-clients/tians-testing-9-26-b-ce-id-with-prod-later-8108.tf
Labels: auto_generated, request, 8108

#2315 request: add client files for tians-testing-9-26-git-hub-with-prod-8109
  terraform-v2/keycloak-dev/standard-clients/tians-testing-9-26-git-hub-with-prod-8109.tf
  terraform-v2/keycloak-prod/standard-clients/tians-testing-9-26-git-hub-with-prod-8109.tf
  terraform-v2/keycloak-test/standard-clients/tians-testing-9-26-git-hub-with-prod-8109.tf
Labels: auto_generated, request, 8109

#2316 request: add client files for tians-testing-git-hub-prod-later-8110
  terraform-v2/keycloak-dev/standard-clients/tians-testing-git-hub-prod-later-8110.tf
  terraform-v2/keycloak-test/standard-clients/tians-testing-git-hub-prod-later-8110.tf
Labels: auto_generated, request, 8110

#2317 request: update client files for tians-testing-git-hub-prod-later-8110
  terraform-v2/keycloak-prod/standard-clients/tians-testing-git-hub-prod-later-8110.tf
Labels: auto_generated, request, 8110
