Repository bcgov/sso-terraform-dev, pull requests merged in 2022-03, with the labels that each got.

#832 request: add client files for feb-28-pm-test-1-idir-5908
  terraform/keycloak-dev/realms/onestopauth/client-feb-28-pm-test-1-idir-5908.tf
  terraform/keycloak-prod/realms/onestopauth/client-feb-28-pm-test-1-idir-5908.tf
  terraform/keycloak-test/realms/onestopauth/client-feb-28-pm-test-1-idir-5908.tf
Labels: auto_generated, request, 5908

#833 request: update client files for feb-28-pm-test-1-idir-5908
  terraform/keycloak-test/realms/onestopauth/client-feb-28-pm-test-1-idir-5908.tf
Labels: auto_generated, request, 5908

#834 request: delete client files for feb-28-pm-test-1-idir-5908
  terraform/keycloak-dev/realms/onestopauth/client-feb-28-pm-test-1-idir-5908.tf
  terraform/keycloak-prod/realms/onestopauth/client-feb-28-pm-test-1-idir-5908.tf
  terraform/keycloak-test/realms/onestopauth/client-feb-28-pm-test-1-idir-5908.tf
Labels: auto_generated, request, 5908

#835 request: delete client files for feb-28-test-idir-5842
  terraform/keycloak-dev/realms/onestopauth/client-feb-28-test-idir-5842.tf
Labels: auto_generated, request, 5842

#836 request: delete client files for feb-27-test-1-5743
  terraform/keycloak-dev/realms/onestopauth-basic/client-feb-27-test-1-5743.tf
  terraform/keycloak-test/realms/onestopauth-basic/client-feb-27-test-1-5743.tf
Labels: auto_generated, request, 5743

#838 request: delete client files for feb-24-jonathan-aiden-demo-5612
  terraform/keycloak-dev/realms/onestopauth/client-feb-24-jonathan-aiden-demo-5612.tf
Labels: auto_generated, request, 5612

#839 request: delete client files for feb-3-test-team-access-to-files-4951
  terraform/keycloak-dev/realms/onestopauth/client-feb-3-test-team-access-to-files-4951.tf
Labels: auto_generated, request, 4951

#840 request: delete client files for feb-2-test-team-access-to-json-4918
  terraform/keycloak-dev/realms/onestopauth/client-feb-2-test-team-access-to-json-4918.tf
Labels: auto_generated, request, 4918

#842 request: delete client files for bceid-test-feb-1-4885
  terraform/keycloak-dev/realms/onestopauth-basic/client-bceid-test-feb-1-4885.tf
Labels: auto_generated, request, 4885

#841 request: delete client files for bceid-test-feb-1-3-4887
  terraform/keycloak-dev/realms/onestopauth-basic/client-bceid-test-feb-1-3-4887.tf
Labels: auto_generated, request, 4887

#843 request: delete client files for b-ce-id-prod-3730
  terraform/keycloak-dev/realms/onestopauth-basic/client-b-ce-id-prod-3730.tf
Labels: auto_generated, request, 3730

#844 request: delete client files for ztest-multiple-member-4528
  terraform/keycloak-dev/realms/onestopauth/client-ztest-multiple-member-4528.tf
Labels: auto_generated, request, 4528

#845 request: add client files for feb-28-pm-test-2-idir-sso-admin-edits-5909
  terraform/keycloak-dev/realms/onestopauth/client-feb-28-pm-test-2-idir-sso-admin-edits-5909.tf
  terraform/keycloak-prod/realms/onestopauth/client-feb-28-pm-test-2-idir-sso-admin-edits-5909.tf
  terraform/keycloak-test/realms/onestopauth/client-feb-28-pm-test-2-idir-sso-admin-edits-5909.tf
Labels: auto_generated, request, 5909

#846 request: add client files for feb-28-pm-test-3-idir-5910
  terraform/keycloak-dev/realms/onestopauth/client-feb-28-pm-test-3-idir-5910.tf
  terraform/keycloak-prod/realms/onestopauth/client-feb-28-pm-test-3-idir-5910.tf
  terraform/keycloak-test/realms/onestopauth/client-feb-28-pm-test-3-idir-5910.tf
Labels: auto_generated, request, 5910

#847 request: add client files for feb-28-test-4-b-ce-id-non-prod-5911
  terraform/keycloak-dev/realms/onestopauth-basic/client-feb-28-test-4-b-ce-id-non-prod-5911.tf
  terraform/keycloak-test/realms/onestopauth-basic/client-feb-28-test-4-b-ce-id-non-prod-5911.tf
Labels: auto_generated, request, 5911

#848 request: update client files for bceidbasic-2-5414
  terraform/keycloak-prod/realms/onestopauth-basic/client-bceidbasic-2-5414.tf
Labels: auto_generated, request, 5414

#849 request: add client files for mar-1-test-1-b-ce-id-5941
  terraform/keycloak-dev/realms/onestopauth-basic/client-mar-1-test-1-b-ce-id-5941.tf
  terraform/keycloak-test/realms/onestopauth-basic/client-mar-1-test-1-b-ce-id-5941.tf
Labels: auto_generated, request, 5941

#851 request: update client files for mar-1-test-1-b-ce-id-5941
  terraform/keycloak-prod/realms/onestopauth-basic/client-mar-1-test-1-b-ce-id-5941.tf
Labels: auto_generated, request, 5941

#857 request: add client files for march-1-create-with-teams-5974
  terraform/keycloak-dev/realms/onestopauth/client-march-1-create-with-teams-5974.tf
Labels: auto_generated, request, 5974

#858 request: add client files for march-1-create-with-teams-2-5975
  terraform/keycloak-dev/realms/onestopauth/client-march-1-create-with-teams-2-5975.tf
Labels: auto_generated, request, 5975

#862 request: delete client files for march-1-create-with-team-3-5976
  terraform/keycloak-dev/realms/onestopauth/client-march-1-create-with-team-3-5976.tf
Labels: auto_generated, request, 5976

#863 request: delete client files for march-1-create-with-teams-5974
  terraform/keycloak-dev/realms/onestopauth/client-march-1-create-with-teams-5974.tf
Labels: auto_generated, request, 5974

#866 request: add client files for march-1-teams-test-6-5745
  terraform/keycloak-dev/realms/onestopauth/client-march-1-teams-test-6-5745.tf
Labels: auto_generated, request, 5745

#867 request: delete client files for march-1-teams-test-6-5745
  terraform/keycloak-dev/realms/onestopauth/client-march-1-teams-test-6-5745.tf
Labels: auto_generated, request, 5745

#868 request: add client files for march-1-test-7-all-admins-6008
  terraform/keycloak-dev/realms/onestopauth/client-march-1-test-7-all-admins-6008.tf
Labels: auto_generated, request, 6008

#869 request: delete client files for march-1-test-7-all-admins-6008
  terraform/keycloak-dev/realms/onestopauth/client-march-1-test-7-all-admins-6008.tf
Labels: auto_generated, request, 6008

#873 request: add client files for newtest-6041
  terraform/keycloak-dev/realms/onestopauth/client-newtest-6041.tf
Labels: auto_generated, request, 6041

#874 request: add client files for march-1-test-9-z-t-6042
  terraform/keycloak-dev/realms/onestopauth/client-march-1-test-9-z-t-6042.tf
Labels: auto_generated, request, 6042

#876 request: delete client files for march-1-test-9-z-t-6042
  terraform/keycloak-dev/realms/onestopauth/client-march-1-test-9-z-t-6042.tf
Labels: auto_generated, request, 6042

#877 request: add client files for march-1-idir-sso-admin-5909
  terraform/keycloak-dev/realms/onestopauth/client-march-1-idir-sso-admin-5909.tf
  terraform/keycloak-prod/realms/onestopauth/client-march-1-idir-sso-admin-5909.tf
  terraform/keycloak-test/realms/onestopauth/client-march-1-idir-sso-admin-5909.tf
Labels: auto_generated, request, 5909

#880 request: update client files for march-1-b-ce-id-non-prod-teams-5911
  terraform/keycloak-test/realms/onestopauth-basic/client-march-1-b-ce-id-non-prod-teams-5911.tf
Labels: auto_generated, request, 5911

#882 request: update client files for march-1-b-ce-id-non-prod-teams-5911
  terraform/keycloak-prod/realms/onestopauth-basic/client-march-1-b-ce-id-non-prod-teams-5911.tf
Labels: auto_generated, request, 5911

#883 request: add client files for march-2-b-ce-id-non-prod-to-prod-6043
  terraform/keycloak-dev/realms/onestopauth-basic/client-march-2-b-ce-id-non-prod-to-prod-6043.tf
  terraform/keycloak-test/realms/onestopauth-basic/client-march-2-b-ce-id-non-prod-to-prod-6043.tf
Labels: auto_generated, request, 6043

#888 request: delete client files for march-1-b-ce-id-non-prod-teams-5911
  terraform/keycloak-dev/realms/onestopauth-basic/client-march-1-b-ce-id-non-prod-teams-5911.tf
  terraform/keycloak-prod/realms/onestopauth-basic/client-march-1-b-ce-id-non-prod-teams-5911.tf
  terraform/keycloak-test/realms/onestopauth-basic/client-march-1-b-ce-id-non-prod-teams-5911.tf
Labels: auto_generated, request, 5911

#889 request: delete client files for mar-1-test-1-b-ce-id-5941
  terraform/keycloak-dev/realms/onestopauth-basic/client-mar-1-test-1-b-ce-id-5941.tf
  terraform/keycloak-prod/realms/onestopauth-basic/client-mar-1-test-1-b-ce-id-5941.tf
  terraform/keycloak-test/realms/onestopauth-basic/client-mar-1-test-1-b-ce-id-5941.tf
Labels: auto_generated, request, 5941

#890 request: add client files for march-3-jon-b-ce-id-basic-test-6073
  terraform/keycloak-dev/realms/onestopauth-basic/client-march-3-jon-b-ce-id-basic-test-6073.tf
  terraform/keycloak-test/realms/onestopauth-basic/client-march-3-jon-b-ce-id-basic-test-6073.tf
Labels: auto_generated, request, 6073

#891 request: update client files for march-3-jon-b-ce-id-basic-test-6073
  terraform/keycloak-dev/realms/onestopauth-basic/client-march-3-jon-b-ce-id-basic-test-6073.tf
  terraform/keycloak-test/realms/onestopauth-basic/client-march-3-jon-b-ce-id-basic-test-6073.tf
Labels: auto_generated, request, 6073

#892 request: delete client files for march-3-jon-b-ce-id-basic-test-6073
  terraform/keycloak-dev/realms/onestopauth-basic/client-march-3-jon-b-ce-id-basic-test-6073.tf
  terraform/keycloak-test/realms/onestopauth-basic/client-march-3-jon-b-ce-id-basic-test-6073.tf
Labels: auto_generated, request, 6073

#893 request: add client files for mar-02-idir-test-6074
  terraform/keycloak-dev/realms/onestopauth/client-mar-02-idir-test-6074.tf
  terraform/keycloak-prod/realms/onestopauth/client-mar-02-idir-test-6074.tf
  terraform/keycloak-test/realms/onestopauth/client-mar-02-idir-test-6074.tf
Labels: auto_generated, request, 6074

#903 request: add client files for jon-mar-3-b-ce-id-basic-non-prod-to-prod-6075
  terraform/keycloak-dev/realms/onestopauth-basic/client-jon-mar-3-b-ce-id-basic-non-prod-to-prod-6075.tf
  terraform/keycloak-test/realms/onestopauth-basic/client-jon-mar-3-b-ce-id-basic-non-prod-to-prod-6075.tf
Labels: auto_generated, request, 6075

#904 request: add client files for tians-testing-single-member-3-2-6076
  terraform/keycloak-dev/realms/onestopauth/client-tians-testing-single-member-3-2-6076.tf
Labels: auto_generated, request, 6076

#905 request: add client files for kuro-mar-02-idir-test-6077
  terraform/keycloak-dev/realms/onestopauth/client-kuro-mar-02-idir-test-6077.tf
  terraform/keycloak-prod/realms/onestopauth/client-kuro-mar-02-idir-test-6077.tf
  terraform/keycloak-test/realms/onestopauth/client-kuro-mar-02-idir-test-6077.tf
Labels: auto_generated, request, 6077

#908 request: delete client files for tians-testing-single-member-3-2-6076
  terraform/keycloak-dev/realms/onestopauth/client-tians-testing-single-member-3-2-6076.tf
Labels: auto_generated, request, 6076

#912 request: update client files for kuro-mar-02-idir-test-6077
  terraform/keycloak-dev/realms/onestopauth/client-kuro-mar-02-idir-test-6077.tf
  terraform/keycloak-prod/realms/onestopauth/client-kuro-mar-02-idir-test-6077.tf
  terraform/keycloak-test/realms/onestopauth/client-kuro-mar-02-idir-test-6077.tf
Labels: auto_generated, request, 6077

#913 request: update client files for jon-mar-3-b-ce-id-basic-non-prod-to-prod-6075
  terraform/keycloak-prod/realms/onestopauth-basic/client-jon-mar-3-b-ce-id-basic-non-prod-to-prod-6075.tf
Labels: auto_generated, request, 6075

#914 request: add client files for junmin-newintegration-6106
  terraform/keycloak-dev/realms/onestopauth/client-junmin-newintegration-6106.tf
Labels: auto_generated, request, 6106

#915 request: delete client files for kuro-mar-02-idir-test-6077
  terraform/keycloak-dev/realms/onestopauth/client-kuro-mar-02-idir-test-6077.tf
  terraform/keycloak-prod/realms/onestopauth/client-kuro-mar-02-idir-test-6077.tf
  terraform/keycloak-test/realms/onestopauth/client-kuro-mar-02-idir-test-6077.tf
Labels: auto_generated, request, 6077

#916 request: update client files for tians-testing-single-2-25-5710
  terraform/keycloak-test/realms/onestopauth/client-tians-testing-single-2-25-5710.tf
Labels: auto_generated, request, 5710

#917 request: add client files for march-3-test-b-ce-id-non-p-rod-6139
  terraform/keycloak-dev/realms/onestopauth-basic/client-march-3-test-b-ce-id-non-p-rod-6139.tf
  terraform/keycloak-test/realms/onestopauth-basic/client-march-3-test-b-ce-id-non-p-rod-6139.tf
Labels: auto_generated, request, 6139

#919 request: update client files for tians-testing-single-2-25-5710
  terraform/keycloak-prod/realms/onestopauth/client-tians-testing-single-2-25-5710.tf
Labels: auto_generated, request, 5710

#920 request: add client files for tians-testing-b-ce-id-add-prod-later-6172
  terraform/keycloak-dev/realms/onestopauth-basic/client-tians-testing-b-ce-id-add-prod-later-6172.tf
Labels: auto_generated, request, 6172

#922 request: add client files for kuro-mar-03-b-ce-id-basic-test-6205
  terraform/keycloak-dev/realms/onestopauth-basic/client-kuro-mar-03-b-ce-id-basic-test-6205.tf
  terraform/keycloak-test/realms/onestopauth-basic/client-kuro-mar-03-b-ce-id-basic-test-6205.tf
Labels: auto_generated, request, 6205

#923 request: add client files for kuro-mar-03-b-ce-id-business-test-6238
  terraform/keycloak-dev/realms/onestopauth-business/client-kuro-mar-03-b-ce-id-business-test-6238.tf
  terraform/keycloak-test/realms/onestopauth-business/client-kuro-mar-03-b-ce-id-business-test-6238.tf
Labels: auto_generated, request, 6238

#924 request: add client files for kuro-mar-03-b-ce-id-both-test-6239
  terraform/keycloak-dev/realms/onestopauth-both/client-kuro-mar-03-b-ce-id-both-test-6239.tf
  terraform/keycloak-test/realms/onestopauth-both/client-kuro-mar-03-b-ce-id-both-test-6239.tf
Labels: auto_generated, request, 6239

#925 request: update client files for kuro-mar-03-b-ce-id-basic-test-6205
  terraform/keycloak-dev/realms/onestopauth-basic/client-kuro-mar-03-b-ce-id-basic-test-6205.tf
  terraform/keycloak-test/realms/onestopauth-basic/client-kuro-mar-03-b-ce-id-basic-test-6205.tf
Labels: auto_generated, request, 6205

#926 request: update client files for kuro-mar-03-b-ce-id-business-test-6238
  terraform/keycloak-dev/realms/onestopauth-business/client-kuro-mar-03-b-ce-id-business-test-6238.tf
  terraform/keycloak-test/realms/onestopauth-business/client-kuro-mar-03-b-ce-id-business-test-6238.tf
Labels: auto_generated, request, 6238

#927 request: update client files for kuro-mar-03-b-ce-id-both-test-6239
  terraform/keycloak-dev/realms/onestopauth-both/client-kuro-mar-03-b-ce-id-both-test-6239.tf
  terraform/keycloak-test/realms/onestopauth-both/client-kuro-mar-03-b-ce-id-both-test-6239.tf
Labels: auto_generated, request, 6239

#928 request: delete client files for kuro-mar-03-b-ce-id-basic-test-6205
  terraform/keycloak-dev/realms/onestopauth-basic/client-kuro-mar-03-b-ce-id-basic-test-6205.tf
  terraform/keycloak-test/realms/onestopauth-basic/client-kuro-mar-03-b-ce-id-basic-test-6205.tf
Labels: auto_generated, request, 6205

#929 request: delete client files for kuro-mar-03-b-ce-id-business-test-6238
  terraform/keycloak-dev/realms/onestopauth-business/client-kuro-mar-03-b-ce-id-business-test-6238.tf
  terraform/keycloak-test/realms/onestopauth-business/client-kuro-mar-03-b-ce-id-business-test-6238.tf
Labels: auto_generated, request, 6238

#930 request: delete client files for kuro-mar-03-b-ce-id-both-test-6239
  terraform/keycloak-dev/realms/onestopauth-both/client-kuro-mar-03-b-ce-id-both-test-6239.tf
  terraform/keycloak-test/realms/onestopauth-both/client-kuro-mar-03-b-ce-id-both-test-6239.tf
Labels: auto_generated, request, 6239

#931 request: add client files for kuro-link-error-test-6271
  terraform/keycloak-dev/realms/onestopauth/client-kuro-link-error-test-6271.tf
Labels: auto_generated, request, 6271

#933 request: add client files for tians-testing-3-4-6304
  terraform/keycloak-dev/realms/onestopauth-basic/client-tians-testing-3-4-6304.tf
Labels: auto_generated, request, 6304

#934 request: update client files for march-3-test-b-ce-id-non-p-rod-6139
  terraform/keycloak-prod/realms/onestopauth-basic/client-march-3-test-b-ce-id-non-p-rod-6139.tf
Labels: auto_generated, request, 6139

#935 request: add client files for tians-testing-3-4-add-prod-later-6306
  terraform/keycloak-dev/realms/onestopauth-basic/client-tians-testing-3-4-add-prod-later-6306.tf
Labels: auto_generated, request, 6306

#936 request: add client files for kuro-mar-04-b-ce-id-basic-non-prod-6305
  terraform/keycloak-dev/realms/onestopauth-basic/client-kuro-mar-04-b-ce-id-basic-non-prod-6305.tf
  terraform/keycloak-test/realms/onestopauth-basic/client-kuro-mar-04-b-ce-id-basic-non-prod-6305.tf
Labels: auto_generated, request, 6305

#939 request: update client files for kuro-mar-04-b-ce-id-basic-non-prod-6305
  terraform/keycloak-prod/realms/onestopauth-basic/client-kuro-mar-04-b-ce-id-basic-non-prod-6305.tf
Labels: auto_generated, request, 6305

#940 request: add client files for march-4-zorin-test-1-6337
  terraform/keycloak-dev/realms/onestopauth-business/client-march-4-zorin-test-1-6337.tf
Labels: auto_generated, request, 6337

#941 request: add client files for march-4-test-2-6338
  terraform/keycloak-dev/realms/onestopauth-business/client-march-4-test-2-6338.tf
Labels: auto_generated, request, 6338

#943 request: update client files for march-4-zorin-test-1-6337
  terraform/keycloak-prod/realms/onestopauth-business/client-march-4-zorin-test-1-6337.tf
Labels: auto_generated, request, 6337

#944 request: add client files for kuro-mar-07-b-ce-id-basic-test-6370
  terraform/keycloak-dev/realms/onestopauth-basic/client-kuro-mar-07-b-ce-id-basic-test-6370.tf
  terraform/keycloak-test/realms/onestopauth-basic/client-kuro-mar-07-b-ce-id-basic-test-6370.tf
Labels: auto_generated, request, 6370

#945 request: add client files for kuro-mar-07-b-ce-id-business-test-6371
  terraform/keycloak-dev/realms/onestopauth-business/client-kuro-mar-07-b-ce-id-business-test-6371.tf
  terraform/keycloak-test/realms/onestopauth-business/client-kuro-mar-07-b-ce-id-business-test-6371.tf
Labels: auto_generated, request, 6371

#946 request: add client files for kuro-mar-07-b-ce-id-both-test-6372
  terraform/keycloak-dev/realms/onestopauth-both/client-kuro-mar-07-b-ce-id-both-test-6372.tf
  terraform/keycloak-test/realms/onestopauth-both/client-kuro-mar-07-b-ce-id-both-test-6372.tf
Labels: auto_generated, request, 6372

#947 request: update client files for kuro-mar-07-b-ce-id-basic-test-6370
  terraform/keycloak-dev/realms/onestopauth-basic/client-kuro-mar-07-b-ce-id-basic-test-6370.tf
  terraform/keycloak-test/realms/onestopauth-basic/client-kuro-mar-07-b-ce-id-basic-test-6370.tf
Labels: auto_generated, request, 6370

#948 request: update client files for kuro-mar-07-b-ce-id-business-test-6371
  terraform/keycloak-dev/realms/onestopauth-business/client-kuro-mar-07-b-ce-id-business-test-6371.tf
  terraform/keycloak-test/realms/onestopauth-business/client-kuro-mar-07-b-ce-id-business-test-6371.tf
Labels: auto_generated, request, 6371

#951 request: update client files for kuro-mar-07-b-ce-id-both-test-6372
  terraform/keycloak-prod/realms/onestopauth-both/client-kuro-mar-07-b-ce-id-both-test-6372.tf
Labels: auto_generated, request, 6372

#952 request: delete client files for kuro-mar-07-b-ce-id-basic-test-6370
  terraform/keycloak-dev/realms/onestopauth-basic/client-kuro-mar-07-b-ce-id-basic-test-6370.tf
  terraform/keycloak-test/realms/onestopauth-basic/client-kuro-mar-07-b-ce-id-basic-test-6370.tf
Labels: auto_generated, request, 6370

#953 request: delete client files for kuro-mar-07-b-ce-id-business-test-6371
  terraform/keycloak-dev/realms/onestopauth-business/client-kuro-mar-07-b-ce-id-business-test-6371.tf
  terraform/keycloak-test/realms/onestopauth-business/client-kuro-mar-07-b-ce-id-business-test-6371.tf
Labels: auto_generated, request, 6371

#954 request: delete client files for kuro-mar-07-b-ce-id-both-test-6372
  terraform/keycloak-dev/realms/onestopauth-both/client-kuro-mar-07-b-ce-id-both-test-6372.tf
  terraform/keycloak-prod/realms/onestopauth-both/client-kuro-mar-07-b-ce-id-both-test-6372.tf
  terraform/keycloak-test/realms/onestopauth-both/client-kuro-mar-07-b-ce-id-both-test-6372.tf
Labels: auto_generated, request, 6372

#955 request: delete client files for tians-testing-single-2-25-5710
  terraform/keycloak-dev/realms/onestopauth/client-tians-testing-single-2-25-5710.tf
  terraform/keycloak-prod/realms/onestopauth/client-tians-testing-single-2-25-5710.tf
  terraform/keycloak-test/realms/onestopauth/client-tians-testing-single-2-25-5710.tf
Labels: auto_generated, request, 5710

#956 request: delete client files for march-3-test-b-ce-id-non-p-rod-6139
  terraform/keycloak-dev/realms/onestopauth-basic/client-march-3-test-b-ce-id-non-p-rod-6139.tf
  terraform/keycloak-prod/realms/onestopauth-basic/client-march-3-test-b-ce-id-non-p-rod-6139.tf
  terraform/keycloak-test/realms/onestopauth-basic/client-march-3-test-b-ce-id-non-p-rod-6139.tf
Labels: auto_generated, request, 6139

#957 request: delete client files for tians-testing-3-4-6304
  terraform/keycloak-dev/realms/onestopauth-basic/client-tians-testing-3-4-6304.tf
Labels: auto_generated, request, 6304

#958 request: delete client files for tians-testing-b-ce-id-add-prod-later-6172
  terraform/keycloak-dev/realms/onestopauth-basic/client-tians-testing-b-ce-id-add-prod-later-6172.tf
Labels: auto_generated, request, 6172

#959 request: delete client files for tians-testing-3-4-add-prod-later-6306
  terraform/keycloak-dev/realms/onestopauth-basic/client-tians-testing-3-4-add-prod-later-6306.tf
Labels: auto_generated, request, 6306

#960 request: delete client files for play-ground-public-5515
  terraform/keycloak-dev/realms/onestopauth/client-play-ground-public-5515.tf
Labels: auto_generated, request, 5515

#961 request: add client files for tians-testing-multiple-members-3-8-6403
  terraform/keycloak-dev/realms/onestopauth/client-tians-testing-multiple-members-3-8-6403.tf
Labels: auto_generated, request, 6403

#963 request: update client files for tians-testing-multiple-members-3-8-6403
  terraform/keycloak-dev/realms/onestopauth/client-tians-testing-multiple-members-3-8-6403.tf
Labels: auto_generated, request, 6403

#964 request: add client files for tians-testing-with-existing-team-3-8-6436
  terraform/keycloak-dev/realms/onestopauth/client-tians-testing-with-existing-team-3-8-6436.tf
Labels: auto_generated, request, 6436

#965 request: update client files for junmin-newintegration-6106
  terraform/keycloak-dev/realms/onestopauth/client-junmin-newintegration-6106.tf
Labels: auto_generated, request, 6106

#967 request: update client files for junmin-newintegration-6106
  terraform/keycloak-dev/realms/onestopauth/client-junmin-newintegration-6106.tf
Labels: auto_generated, request, 6106

#971 request: update client files for newtest-6041
  terraform/keycloak-dev/realms/onestopauth/client-newtest-6041.tf
Labels: auto_generated, request, 6041

#972 request: add client files for junmin-createnewonewithteam-6469
  terraform/keycloak-dev/realms/onestopauth/client-junmin-createnewonewithteam-6469.tf
Labels: auto_generated, request, 6469

#973 request: add client files for tians-testing-on-davids-case-6535
  terraform/keycloak-dev/realms/onestopauth/client-tians-testing-on-davids-case-6535.tf
Labels: auto_generated, request, 6535

#974 request: add client files for ent-user-notification-for-non-b-ce-id-6536
  terraform/keycloak-dev/realms/onestopauth/client-ent-user-notification-for-non-b-ce-id-6536.tf
Labels: auto_generated, request, 6536

#975 request: add client files for ent-team-notification-for-non-b-ce-id-6537
  terraform/keycloak-dev/realms/onestopauth/client-ent-team-notification-for-non-b-ce-id-6537.tf
Labels: auto_generated, request, 6537

#976 request: add client files for ent-user-notification-for-b-ce-id-in-non-prod-6538
  terraform/keycloak-dev/realms/onestopauth-basic/client-ent-user-notification-for-b-ce-id-in-non-prod-6538.tf
Labels: auto_generated, request, 6538

#977 request: add client files for ent-team-notification-for-b-ce-id-in-non-prod-6539
  terraform/keycloak-dev/realms/onestopauth-basic/client-ent-team-notification-for-b-ce-id-in-non-prod-6539.tf
Labels: auto_generated, request, 6539

#978 request: add client files for ent-user-notification-for-b-ce-id-in-prod-6540
  terraform/keycloak-dev/realms/onestopauth-basic/client-ent-user-notification-for-b-ce-id-in-prod-6540.tf
Labels: auto_generated, request, 6540

#979 request: add client files for ent-team-notification-for-b-ce-id-in-prod-6541
  terraform/keycloak-dev/realms/onestopauth-basic/client-ent-team-notification-for-b-ce-id-in-prod-6541.tf
Labels: auto_generated, request, 6541

#980 request: update client files for ent-user-notification-for-b-ce-id-in-non-prod-6538
  terraform/keycloak-dev/realms/onestopauth-basic/client-ent-user-notification-for-b-ce-id-in-non-prod-6538.tf
Labels: auto_generated, request, 6538

#981 request: update client files for ent-team-notification-for-b-ce-id-in-non-prod-6539
  terraform/keycloak-dev/realms/onestopauth-basic/client-ent-team-notification-for-b-ce-id-in-non-prod-6539.tf
Labels: auto_generated, request, 6539

#983 request: delete client files for ent-team-notification-for-non-b-ce-id-6537
  terraform/keycloak-dev/realms/onestopauth/client-ent-team-notification-for-non-b-ce-id-6537.tf
Labels: auto_generated, request, 6537

#984 request: delete client files for ent-user-notification-for-b-ce-id-in-non-prod-6538
  terraform/keycloak-dev/realms/onestopauth-basic/client-ent-user-notification-for-b-ce-id-in-non-prod-6538.tf
Labels: auto_generated, request, 6538

#985 request: delete client files for ent-team-notification-for-b-ce-id-in-non-prod-6539
  terraform/keycloak-dev/realms/onestopauth-basic/client-ent-team-notification-for-b-ce-id-in-non-prod-6539.tf
Labels: auto_generated, request, 6539

#986 request: add client files for ent-part-2-user-notification-for-non-b-ce-id-6542
  terraform/keycloak-dev/realms/onestopauth/client-ent-part-2-user-notification-for-non-b-ce-id-6542.tf
Labels: auto_generated, request, 6542

#987 request: add client files for ent-part-2-team-notification-for-non-b-ce-id-6543
  terraform/keycloak-dev/realms/onestopauth/client-ent-part-2-team-notification-for-non-b-ce-id-6543.tf
Labels: auto_generated, request, 6543

#992 request: update client files for newtest-6041
  terraform/keycloak-dev/realms/onestopauth/client-newtest-6041.tf
Labels: auto_generated, request, 6041

#993 request: add client files for testemailagain-1555
  terraform/keycloak-dev/realms/onestopauth/client-testemailagain-1555.tf
  terraform/keycloak-prod/realms/onestopauth/client-testemailagain-1555.tf
  terraform/keycloak-test/realms/onestopauth/client-testemailagain-1555.tf
Labels: auto_generated, request, 1555

#995 request: add client files for ent-part-2-user-notification-for-b-ce-id-in-non-prod-6601
  terraform/keycloak-dev/realms/onestopauth-basic/client-ent-part-2-user-notification-for-b-ce-id-in-non-prod-6601.tf
Labels: auto_generated, request, 6601

#996 request: add client files for ent-part-2-team-notification-for-b-ce-id-in-non-prod-6602
  terraform/keycloak-dev/realms/onestopauth-basic/client-ent-part-2-team-notification-for-b-ce-id-in-non-prod-6602.tf
Labels: auto_generated, request, 6602

#999 request: add client files for march-10-test-6603
  terraform/keycloak-dev/realms/onestopauth-basic/client-march-10-test-6603.tf
Labels: auto_generated, request, 6603

#1003 request: add client files for march-10-ent-part-2-6604
  terraform/keycloak-dev/realms/onestopauth-basic/client-march-10-ent-part-2-6604.tf
  terraform/keycloak-test/realms/onestopauth-basic/client-march-10-ent-part-2-6604.tf
Labels: auto_generated, request, 6604

#1006 request: update client files for march-10-ent-part-2-6604
  terraform/keycloak-prod/realms/onestopauth-basic/client-march-10-ent-part-2-6604.tf
Labels: auto_generated, request, 6604

#1007 request: add client files for ent-part-2-user-notification-for-b-ce-id-in-prod-6607
  terraform/keycloak-dev/realms/onestopauth-basic/client-ent-part-2-user-notification-for-b-ce-id-in-prod-6607.tf
  terraform/keycloak-test/realms/onestopauth-basic/client-ent-part-2-user-notification-for-b-ce-id-in-prod-6607.tf
Labels: auto_generated, request, 6607

#1008 request: update client files for tians-testing-on-davids-case-6535
  terraform/keycloak-dev/realms/onestopauth/client-tians-testing-on-davids-case-6535.tf
Labels: auto_generated, request, 6535

#1009 request: add client files for ent-part-2-team-notification-for-b-ce-id-in-prod-6608
  terraform/keycloak-dev/realms/onestopauth-basic/client-ent-part-2-team-notification-for-b-ce-id-in-prod-6608.tf
  terraform/keycloak-test/realms/onestopauth-basic/client-ent-part-2-team-notification-for-b-ce-id-in-prod-6608.tf
Labels: auto_generated, request, 6608

#1010 request: update client files for ent-part-2-user-notification-for-b-ce-id-in-prod-6607
  terraform/keycloak-dev/realms/onestopauth-basic/client-ent-part-2-user-notification-for-b-ce-id-in-prod-6607.tf
  terraform/keycloak-test/realms/onestopauth-basic/client-ent-part-2-user-notification-for-b-ce-id-in-prod-6607.tf
Labels: auto_generated, request, 6607

#1011 request: update client files for ent-part-2-team-notification-for-b-ce-id-in-prod-6608
  terraform/keycloak-dev/realms/onestopauth-basic/client-ent-part-2-team-notification-for-b-ce-id-in-prod-6608.tf
  terraform/keycloak-test/realms/onestopauth-basic/client-ent-part-2-team-notification-for-b-ce-id-in-prod-6608.tf
Labels: auto_generated, request, 6608

#1014 request: update client files for ent-part-2-user-notification-for-b-ce-id-in-non-prod-6601
  terraform/keycloak-prod/realms/onestopauth-basic/client-ent-part-2-user-notification-for-b-ce-id-in-non-prod-6601.tf
Labels: auto_generated, request, 6601

#1015 request: update client files for ent-part-2-team-notification-for-b-ce-id-in-non-prod-6602
  terraform/keycloak-prod/realms/onestopauth-basic/client-ent-part-2-team-notification-for-b-ce-id-in-non-prod-6602.tf
Labels: auto_generated, request, 6602

#1016 request: update client files for junminnewint-6568
  terraform/keycloak-dev/realms/onestopauth/client-junminnewint-6568.tf
Labels: auto_generated, request, 6568

#1017 request: add client files for tians-testing-terraform-apply-1-6609
  terraform/keycloak-dev/realms/onestopauth/client-tians-testing-terraform-apply-1-6609.tf
Labels: auto_generated, request, 6609

#1022 request: add client files for tians-testing-terraform-apply-3-6611
  terraform/keycloak-dev/realms/onestopauth/client-tians-testing-terraform-apply-3-6611.tf
Labels: auto_generated, request, 6611

#1023 request: add client files for tians-testing-terraform-apply-4-6612
  terraform/keycloak-dev/realms/onestopauth/client-tians-testing-terraform-apply-4-6612.tf
Labels: auto_generated, request, 6612

#1021 request: delete client files for march-10-test-6603
  terraform/keycloak-dev/realms/onestopauth-basic/client-march-10-test-6603.tf
Labels: auto_generated, request, 6603

#1025 request: update client files for march-4-test-2-6338
  terraform/keycloak-prod/realms/onestopauth-business/client-march-4-test-2-6338.tf
Labels: auto_generated, request, 6338

#1024 request: delete client files for march-4-zorin-test-1-6337
  terraform/keycloak-dev/realms/onestopauth-business/client-march-4-zorin-test-1-6337.tf
  terraform/keycloak-prod/realms/onestopauth-business/client-march-4-zorin-test-1-6337.tf
Labels: auto_generated, request, 6337

#1026 request: add client files for march-10-test-2-zorin-6613
  terraform/keycloak-dev/realms/onestopauth-basic/client-march-10-test-2-zorin-6613.tf
Labels: auto_generated, request, 6613

#1027 request: add client files for march-10-test-3-zorin-6614
  terraform/keycloak-dev/realms/onestopauth/client-march-10-test-3-zorin-6614.tf
  terraform/keycloak-prod/realms/onestopauth/client-march-10-test-3-zorin-6614.tf
  terraform/keycloak-test/realms/onestopauth/client-march-10-test-3-zorin-6614.tf
Labels: auto_generated, request, 6614

#1030 request: delete client files for junminnewint-6568
  terraform/keycloak-dev/realms/onestopauth/client-junminnewint-6568.tf
Labels: auto_generated, request, 6568

#1032 request: delete client files for junmin-createnewonewithteam-6469
  terraform/keycloak-dev/realms/onestopauth/client-junmin-createnewonewithteam-6469.tf
Labels: auto_generated, request, 6469

#1033 request: delete client files for newkeycloakdeploy-2311
  terraform/keycloak-dev/realms/onestopauth/client-newkeycloakdeploy-2311.tf
  terraform/keycloak-prod/realms/onestopauth/client-newkeycloakdeploy-2311.tf
Labels: auto_generated, request, 2311

#1034 request: delete client files for testemailagain-1555
  terraform/keycloak-dev/realms/onestopauth/client-testemailagain-1555.tf
  terraform/keycloak-prod/realms/onestopauth/client-testemailagain-1555.tf
  terraform/keycloak-test/realms/onestopauth/client-testemailagain-1555.tf
Labels: auto_generated, request, 1555

#1035 request: delete client files for realm-profile-app-2608
  terraform/keycloak-dev/realms/onestopauth/client-realm-profile-app-2608.tf
  terraform/keycloak-prod/realms/onestopauth/client-realm-profile-app-2608.tf
Labels: auto_generated, request, 2608

#1036 request: delete client files for bceidbasic-2-5414
  terraform/keycloak-dev/realms/onestopauth-basic/client-bceidbasic-2-5414.tf
  terraform/keycloak-prod/realms/onestopauth-basic/client-bceidbasic-2-5414.tf
  terraform/keycloak-test/realms/onestopauth-basic/client-bceidbasic-2-5414.tf
Labels: auto_generated, request, 5414

#1037 request: delete client files for bceidbasic-5413
  terraform/keycloak-dev/realms/onestopauth-basic/client-bceidbasic-5413.tf
Labels: auto_generated, request, 5413

#1038 request: delete client files for bceidtest-5446
  terraform/keycloak-dev/realms/onestopauth-basic/client-bceidtest-5446.tf
Labels: auto_generated, request, 5446

#1039 request: delete client files for mergetest-6007
  terraform/keycloak-dev/realms/onestopauth/client-mergetest-6007.tf
Labels: auto_generated, request, 6007

#1040 request: delete client files for newtest-6041
  terraform/keycloak-dev/realms/onestopauth/client-newtest-6041.tf
Labels: auto_generated, request, 6041

#1041 request: add client files for junminnewintegration-6615
  terraform/keycloak-dev/realms/onestopauth/client-junminnewintegration-6615.tf
Labels: auto_generated, request, 6615

#1044 request: delete client files for tians-testing-b-ce-id-deleting-6634
  terraform/keycloak-dev/realms/onestopauth-both/client-tians-testing-b-ce-id-deleting-6634.tf
  terraform/keycloak-test/realms/onestopauth-both/client-tians-testing-b-ce-id-deleting-6634.tf
Labels: auto_generated, request, 6634

#1045 request: delete client files for tians-testing-terraform-apply-1-6609
  terraform/keycloak-dev/realms/onestopauth/client-tians-testing-terraform-apply-1-6609.tf
Labels: auto_generated, request, 6609

#1046 request: delete client files for tians-testing-terraform-apply-2-6610
  terraform/keycloak-dev/realms/onestopauth/client-tians-testing-terraform-apply-2-6610.tf
Labels: auto_generated, request, 6610

#1047 request: add client files for tian-part-3-ticket-1-6635
  terraform/keycloak-dev/realms/onestopauth/client-tian-part-3-ticket-1-6635.tf
Labels: auto_generated, request, 6635

#1048 request: add client files for tian-part-3-ticket-2-6636
  terraform/keycloak-dev/realms/onestopauth-business/client-tian-part-3-ticket-2-6636.tf
Labels: auto_generated, request, 6636

#1049 request: add client files for tian-part-3-ticket-3-6637
  terraform/keycloak-dev/realms/onestopauth/client-tian-part-3-ticket-3-6637.tf
Labels: auto_generated, request, 6637

#1050 request: update client files for tian-part-3-ticket-3-6637
  terraform/keycloak-dev/realms/onestopauth/client-tian-part-3-ticket-3-6637.tf
Labels: auto_generated, request, 6637

#1051 request: delete client files for junminnewintegration-6615
  terraform/keycloak-dev/realms/onestopauth/client-junminnewintegration-6615.tf
Labels: auto_generated, request, 6615

#1052 request: add client files for ent-part-3-up-additional-email-update-integration-6638
  terraform/keycloak-dev/realms/onestopauth-basic/client-ent-part-3-up-additional-email-update-integration-6638.tf
  terraform/keycloak-test/realms/onestopauth-basic/client-ent-part-3-up-additional-email-update-integration-6638.tf
Labels: auto_generated, request, 6638

#1054 request: delete client files for ent-part-3-up-additional-email-update-integration-6638
  terraform/keycloak-dev/realms/onestopauth-basic/client-ent-part-3-up-additional-email-update-integration-6638.tf
  terraform/keycloak-test/realms/onestopauth-basic/client-ent-part-3-up-additional-email-update-integration-6638.tf
Labels: auto_generated, request, 6638

#1055 request: add client files for ent-part-2-user-notification-for-b-ce-id-6607
  terraform/keycloak-dev/realms/onestopauth-basic/client-ent-part-2-user-notification-for-b-ce-id-6607.tf
  terraform/keycloak-test/realms/onestopauth-basic/client-ent-part-2-user-notification-for-b-ce-id-6607.tf
Labels: auto_generated, request, 6607
